@charset "UTF-8";
.todo-application {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.application-section {
    min-height: 255.33px;
    width: calc(50% - 12px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 5px;
    border: 1px solid rgb(47, 207, 109);
    min-width: 300px;
}

.margin-x-auto {
    margin-left: auto;
    margin-right: auto;
}

.add-todo-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
}

.input-field{
    height: 35px;
    width: 200px;
    border-radius: 5px;
}

.submit-button{
    background-color: rgb(47, 207, 109);
}

.display-todo-section{
    overflow-x: scroll;
}

td,th{
    width: fit-content;
}

th{
    text-wrap: nowrap;
}

.todo-list-table{
    margin-top: 30px;
    margin-bottom: 30px;
}

.add-todo-form-section {}